html,
body {
  font-family: "PixelFont", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(
    0,
    0,
    0,
    0.8
  ); /* Semi-transparent background for better readability */
  color: #fff;
  padding: 10px 20px;
  z-index: 1000; /* Ensure the header is above other content */
}

.background-wrapper {
  position: relative;
  width: 100%;
}

.background-image {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: auto; /* Allow height to adjust based on content */
  z-index: -1; /* Keep the background behind content and header */
  object-fit: cover; /* Scale the image to cover the container while maintaining aspect ratio */
  display: block;
  image-rendering: -webkit-optimize-contrast; /* For WebKit browsers */
  image-rendering: crisp-edges; /* For better quality scaling */
  image-rendering: pixelated; /* If using pixel art */
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.section {
  position: absolute;
  width: 100%;
  height: 432px; /* Section height */
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: white; */
  text-align: left;
}

.section0 {
  top: 0;
}

.section1 {
  top: calc(432px * 1 * var(--scale-factor));
}

.section2 {
  top: calc(432px * 2 * var(--scale-factor));
}

.section3 {
  top: calc(432px * 3 * var(--scale-factor));
}

.section4 {
  top: calc(432px * 4 * var(--scale-factor));
}

.section5 {
  top: calc(432px * 5 * var(--scale-factor));
}

.section6 {
  top: calc(432px * 6 * var(--scale-factor));
}

@font-face {
  font-family: "PixelFont";
  src: url("assets/font/pixel.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}
