/* Basic resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Change the text highlight color */
::selection {
  background-color: #68beff; /* Background color when text is highlighted */
  color: #000000; /* Text color when highlighted */
}

/* For Firefox (optional, but ensures compatibility with older versions) */
::-moz-selection {
  background-color: #68beff;
  color: #000000;
}

/* General body styling */
body {
  font-family: "PixelFont", sans-serif;
  background-color: #333333;
  color: #333333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  image-rendering: pixelated;
  overflow-y: visible; /* Keep vertical scrolling enabled */
  max-width: 100vw;
}

/* Scrollbar Track */
body::-webkit-scrollbar {
  width: 4px; /* Thin scrollbar */
  background-color: #f5f5f5; /* Light background for the scrollbar track */
}

/* Scrollbar Thumb */
body::-webkit-scrollbar-thumb {
  background-color: #333; /* Darker color for the thumb */
  border-radius: 0px; /* Rounded corners for modern look */
  border: 0px solid transparent; /* Add padding around the thumb */
  background-clip: padding-box; /* Keeps the thumb from expanding outside its area */
}

/* Scrollbar Thumb on Hover */
body::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darken on hover */
}

/* Scrollbar Corner for Overlapping Scrollbars */
body::-webkit-scrollbar-corner {
  background-color: #f5f5f5; /* Match the track background */
}

/* Full-screen header */
.full-screen-header {
  background-color: #333;
  color: whitesmoke;
  position: relative;
  height: 100vh; /* Full viewport height */
  width: 100%;
  background-image: url("assets/image/header-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Header content styling */
.header-content {
  text-align: center;
  color: whitesmoke;
  z-index: 1; /* Ensure content is above background and arrow */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure it stretches to the full width of the header */
}

/* Adjustments for p and h1 elements */
.header-content p {
  font-size: 1.2rem;
  margin-top: 20px;
}

.header-content h1 {
  font-size: 5rem;
  min-height: 5rem; /* Ensure the height is retained even if the text is empty */
  line-height: 5rem; /* Aligns any text vertically */
  white-space: nowrap; /* Prevent text wrapping */
  /* overflow: hidden; Ensure the text does not overflow */
  display: inline-block; /* Allows the element to shrink to fit its content */
}

/* Arrow gif at the bottom center */
.scroll-arrow {
  position: absolute;
  bottom: 0px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%); /* Center the arrow horizontally */
  width: 25%; /* Adjust size as needed */
  z-index: 1; /* Ensure the arrow is visible */
  cursor: pointer;
}

/* Games section */
.games-section {
  position: relative;
  min-height: 100vh; /* Ensures the section is at least one screen height */
  padding: 40px;
  text-align: center;
  /* background-color: whitesmoke; */
  background-image: url("assets/video/empty-games-section-bg-dark.gif");
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; Center content vertically */
}

/* Game grid */
.game-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-image: url("assets/image/game-icon-grid-bg.png");
  background-size: contain;
  padding: 10px;
  z-index: 2;
}

.game-icon {
  /* background-color: #ddd; */
  /* border-radius: 10%; */
  background-image: url("assets/image/game-icon-frame2.png");
  background-size: cover;
  width: calc(90px - ((1920px - 100vw) / 55));
  height: calc(90px - ((1920px - 100vw) / 55));
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.game-icon:hover {
  transform: scale(1.066);
}

.game-icon img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

/* Game details styling */
.game-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  transition: opacity 0.5s ease, visibility 0s ease 0.5s; /* Delay visibility change */
}

/* Active state for wave fade-in */
.game-details.active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  transition: opacity 0.5s ease, visibility 0s ease 0s; /* No delay for visibility */
}

/* Fade-in and slide-in when game-details is active */
.game-details.active .game-info-left,
.game-details.active .game-info-right {
  opacity: 1;
  transform: translateX(0); /* Slide to its original position */
}

.game-details.active .game-info-left {
  transition: opacity 0.5s ease 1s, transform 0.5s ease 1s;
}
.game-details.active .game-info-right {
  transition: opacity 0.5s ease 2s, transform 0.5s ease 2s;
}

.game-details.active .game-info-bullets-left,
.game-details.active .game-info-bullets-right {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.1s, transform 0.1s;
}

.game-info-bullets-left {
  border-left: whitesmoke solid 5px;
  padding-left: 10px; /* Creates space between the border and the text */
}

.game-info-bullets-left p {
  font-size: 1rem;
}

.game-info-bullets-left a {
  color: rgb(203, 200, 238);
}

.game-info-bullets-left ul {
  padding-left: 25px;
  list-style-type: square;
  font-size: calc(1rem - ((1920px - 100vw) / 150));
}
.game-info-bullets-left ul li ul {
  margin-top: 4px;
}

.game-details.active .game-info-bullets-left {
  transition: opacity 0.5s ease 1.2s, transform 0.5s ease 1.2s;
}

.game-details.active .game-info-bullets-right {
  transition: opacity 0.5s ease 2.2s, transform 0.5s ease 2.2s;
}

.game-info-bullets-left,
.game-info-bullets-right {
  opacity: 0;
  transform: translateX(40px);
  transition: opacity 0.5s ease 0.5s, transform 0.5s ease 0.5s;
}

/* Fade-out state */
.game-details.fade-out {
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  transition: opacity 0.5s ease 0.5s, visibility 0s ease 1s; /* Delay visibility change */
}

.game-info-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: end; /* Align the entire group to the bottom of the container */
  padding: 20px;
  height: 100%; /* Full height of the available space */
  box-sizing: border-box;
  justify-self: flex-end;
}
.game-info-left,
.game-info-right {
  background-image: url("assets/image/diagonal-pattern.png"); /* Replace with your background image */
  background-size: 100px;
  background-position: center;
  padding: 0 20px;
  color: whitesmoke;
  box-sizing: border-box;
  text-align: left;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.3s ease 0.5s, transform 0.3s ease 0.5s;
}

.game-info-left[data-opaque="true"],
.game-info-right[data-opaque="true"] {
  background-image: url("assets/image/diagonal-pattern-opaque.png");
}

/* Container for the game info */
.game-info-left {
  width: calc(20vw + ((1920px - 100vw) / 5));
  min-width: 30%; /* Prevent shrinking below 30% */
  max-width: 100%; /* Don't exceed 100% of the parent's width */

  /* Remove the hard height restriction */
  height: auto; /* Let the container expand based on content */
  /* max-height: 50vh; Set max height to 50% of viewport height */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  /* Handle overflow */
  overflow-y: visible; /* Allow scrolling if content exceeds the max-height */
  overflow-x: visible; /* Allow horizontal growth when vertically overflowing */
}

/* Right box for game description and features */
.game-info-right {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  align-self: flex-end; /* Attach to the bottom */
}

.game-info-left h2 {
  font-size: calc(50px - ((1920px - 100vw) / 100));
  margin-bottom: 20px;
  margin-top: 10px;
}

.game-info-left h2 s {
  font-size: calc(10px - ((1920px - 100vw) / 150));
}
.game-info-left p {
  font-size: calc(18px - ((1920px - 100vw) / 150));
  margin-bottom: 5px;
}

.game-info-right p {
  font-size: calc(23px - ((1920px - 100vw) / 150));
  margin-bottom: 20px;
}

.game-info-right ul {
  font-size: calc(18px - ((1920px - 100vw) / 150));
  list-style-type: square;
  padding-left: 15px;
}

.game-info-right ul li {
  margin-bottom: 10px;
}

.d {
  color: rgb(200, 200, 200);
}

/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
/* Icons container at the bottom */
.icons-container {
  display: flex;
  justify-content: center; /* Center icons horizontally */
  gap: 0px; /* Space between icons */
  margin-bottom: 10px; /* Add some space between paragraph and icons */
}

/* Disabled state */
.icon-link[data-disabled="true"] {
  /* pointer-events: none; Makes it unclickable */
  cursor: not-allowed; /* Error cursor */
  opacity: 0.7;
}

.tooltip {
  transition: opacity 0.3s ease;
}

.icon-link[data-disabled="true"]:hover .tooltip {
  display: block;
  opacity: 1;
}

.tooltip {
  transition: opacity 0.3s ease;
}

.icons-container {
  /* position: absolute; */
  /* transform: translateX(-50%); */
  width: 100%;
  /* height: 100%; */
  margin-top: 20px;
  bottom: 0%;
  left: 50%;
  display: flex;
  /* background-color: #f4f4f4; */
  /* gap: 20px; */
}

.icons-container a {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease-out;
  padding-left: 20px;
  padding-right: 20px;
}

.icons-container .tooltip {
  pointer-events: none;
  position: absolute;
  bottom: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: whitesmoke;
  padding: 5px;
  font-size: 13px;
  white-space: nowrap;
  border-radius: 4px;
  margin-bottom: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.icons-container a:hover .tooltip {
  opacity: 1;
  pointer-events: auto; /* Make tooltip clickable */
}

.icons-container a img {
  width: calc(60px - ((1920px - 100vw) / 75));
  height: calc(60px - ((1920px - 100vw) / 75));
  object-fit: contain;
  display: block;
}

/* Increase the hover area to include the tooltip */
.icons-container a:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

.icons-container .icon-link[data-disabled="true"]:hover {
  cursor: not-allowed;
}

/* Splash background styling */
.splash-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  /* z-index: -1; */
}

.game-info {
  position: relative;
  top: 100%;
  transform: translateY(-100%);
  color: #fff;
}

/* General Footer Styling */
.contact-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  position: relative;
  min-height: 100vh; /* Full viewport height */
  width: 100%;
  background-color: #333;
  background-image: url("assets/image/footer-bg.png");
  background-size: cover;
  background-position: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

/* Section 1: "About Me" */
.contact-footer h1 {
  font-size: calc(5rem - ((1920px - 100vw) / 150));
  margin-top: 0px;
  position: absolute;
  top: 5%;
}

/* Section 2: Two-column layout */
.footer-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* max-width: 1200px; Limit the total width */
  padding: 20px 0;
  box-sizing: border-box;
}

/* Left Column */
.left-column {
  width: 60%;
  text-align: left;
  border-left: whitesmoke solid 5px;
  padding-left: 20px;
}
.left-column p {
  padding: 10px 0;
  font-size: calc(22px - ((1920px - 100vw) / 150));
}

/* Right Column */
.right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Headshot Image Styling */
.headshot {
  width: 200px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%; /* Makes the image circular */
  margin-bottom: 20px; /* Space between the image and the button */
}

.right-column a {
  font-size: calc(3rem - ((1920px - 100vw) / 100));
  color: whitesmoke;
  text-decoration: none;
  border: 2px solid whitesmoke;
  padding: 10px 30px;
  transition: background-color 0.3s, color 0.3s;
}

.right-column a:hover {
  background-color: whitesmoke;
  color: #333;
}

/* Section 3: Bottom "Contact Me" */
.contact-section {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 6%;
  left: 0;
  padding: 0 20px;
}

.contact-section p {
  text-align: left;
  margin: 0;
  position: relative;
  bottom: calc(6% + ((1920px - 100vw) / 100));

  font-size: calc(3rem - ((1920px - 100vw) / 100));
  border-left: whitesmoke 5px solid;
  padding-left: 20px;
  padding-bottom: 10px;
}

.contact-icons {
  padding-top: 5px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  /* gap: 20px; */
}

.contact-icons a {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease-out;
  padding-left: 10px;
  padding-right: 10px;
}

.contact-icons .tooltip {
  position: absolute;
  bottom: 100%; /* Close the gap by moving it directly above the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8); /* Dark background */
  color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 0.9rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Initially unclickable */
  z-index: 1; /* Ensure it's above other elements */
}

.contact-icons a:hover .tooltip {
  opacity: 1;
  pointer-events: auto; /* Make tooltip clickable */
}

.contact-icons a img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  display: block;
}

/* Increase the hover area to include the tooltip */
.contact-icons a:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.contact-icons a {
  padding-bottom: 10px; /* Increase the clickable area between icon and tooltip */
}

@font-face {
  font-family: "PixelFont";
  src: url("assets/font/pixel.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.typing-cursor {
  white-space: nowrap;
  border-right: 7px solid;
}

.blinking {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0% {
    border-right-color: whitesmoke; /* Initial color */
  }
  50% {
    border-right-color: transparent; /* Color at halfway point */
  }
  100% {
    border-right-color: whitesmoke; /* Final color to complete the blink */
  }
}

/* Styling for the wave text */
.wave-text {
  display: inline-block;
}

.word-wave-text-list {
  display: list-item;
}
.word-wave-text {
  display: inline-block;
}

.word-wave-text span {
  display: inline-block;
  transition: transform 0.5s ease-out; /* Smooth out the stopping motion */
}
.word-wave-text-list span {
  display: inline-block;
  transition: transform 0.5s ease-out; /* Smooth out the stopping motion */
}

.wave-text span {
  display: inline-block;
  transition: transform 0.5s ease-out; /* Smooth out the stopping motion */
}

/* Trigger wave animation only when the class 'wave-play' is added */
.wave-play span {
  animation: wave-bounce 0.5s forwards;
  animation-fill-mode: forwards;
}

/* Keyframes for the bounce effect */
@keyframes wave-bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-15%);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}
